asgiref==3.8.1
attrs==24.2.0
black==24.8.0
certifi==2024.2.2
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cryptography==43.0.1
defusedxml==0.8.0rc2
Django==4.2
django-filter==24.2
django-mail-templated==2.6.5
django-ranged-response==0.2.0
django-recaptcha==4.0.0
django-robots==6.1
django-simple-captcha==0.6.0
django-templated-mail==1.1.1
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
djoser==2.2.3
drf-yasg==1.21.7
flake8==7.1.1
idna==3.7
importlib_resources==6.4.2
inflection==0.5.1
iniconfig==2.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
Markdown==3.6
mccabe==0.7.0
mypy-extensions==1.0.0
oauthlib==3.2.2
packaging==24.1
pathspec==0.12.1
pillow==10.3.0
platformdirs==4.3.6
pluggy==1.5.0
pycodestyle==2.12.1
pycparser==2.22
pyflakes==3.2.0
PyJWT==2.9.0
pytest==8.3.3
pytest-django==4.9.0
python3-openid==3.2.0
pytz==2024.1
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
requests-oauthlib==2.0.0
rpds-py==0.20.0
setuptools==70.3.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sqlparse==0.5.0
swagger-spec-validator==3.0.4
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
wheel==0.43.0
