name: django-term-3

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build Docker file
      run: docker compose up -d
    - name: Run test
      run: docker exec django-drf sh -c "python manage.py test ."
    - name: Run test Api
      run: docker exec django-drf sh -c "pytest ./services/api/v1/tests.py"
